<h2>Личный кабинет администратора</h2>

{{#each cards}}
<div class="card-admin">
  <h3>Карточка №{{id}}:</h3>
  <p><b>Описание: {{about}}</b></p>
  <p class="cardDescription"></p>
  <p><b>Куда отправлять: {{location}}</b></p>
  <p class="cardLocation"></p>
  <p><a href="" class="admUpdBtn">Редактировать карточку</a></p>
  <p><a href="" id="{{id}} "class="admDelBtn">Удалить карточку</a></p>
</div>
{{/each}}

