<h2>Secret Santa</h2>
<p>Секретным Сантой называется как сама церемония, так и любой из её участников. Целью церемонии является ограничение размеров подарков. В силу этого к этой церемонии часто прибегают на работе или в больших семьях. В Бразилии она называется «Тайный друг» (Amigo Secreto), а в Испании и испаноязычной Латинской Америке — «Невидимый друг» (Amigo Invisible).</p>
<p>Участие в этой праздничной церемонии обычно добровольное, особенно по месту работы.</p>
