<h2>Личный кабинет</h2>
<h3>Создать карточку</h3>

<form name="js-create-card" class="js-create-card" action="/lk" method="POST">
  <input type="text" name="aboutInput" placeholder="Что хотите получить?">
  <input type="text" name="locationInput" placeholder="Куда отправить подарок?">
  <button type="submit" class="create-card-btn">Создать карточку</button>
</form>

<div class="card">
  <h3>Ваша карточка:</h3>
  <p>Описание:</p>
  <p class="cardDescription"></p>
  <p>Куда отправлять:</p>
  <p class="cardLocation"></p>
  <p><a href="">Удалить карточку</a></p>
</div>