<div>
  <h1>Страница аутентификации</h1>
  <form name="login" method="post" action="/login">
    <label>email: <input name="email" type="email" pattern=".+@.+" required/></label>
    <label>Пароль: <input name="password" type="password" required/></label>
    <button type="submit">Войти</button>
  </form>
</div>

